body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.headerbar {
  height: 72px;
  background: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerlogo {
  font-size: 24px;
  font-weight: 900;
  color: #f9faf8;
  padding: 16px;
}

.headerright {
  padding: 16px;
}

.headerrightlink {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.footer {
  height: 72px;
  background: #1f2937;
  font-size: 18px;
  color: #e5e7eb;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.herocontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 50%;
  margin: auto;
  background: #1f293780;
}

.heromaintext {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

.herosecondarytext {
  font-size: 24px;
  color: #e5e7eb;
}

.herobutton {
  padding: 8px 16px;
  margin-top: 16px;
  border-radius: 8px;
  background: #3882f6;
  color: #f9faf8;
  font-size: 24px;
  font-weight: bolder;
}

.heroimage {
  width: 50%;
}
