body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.headerbar {
  height: 72px;
  background: #1f2937;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerlinks li {
  display: inline;
  padding: 16px;
}

.headerlinks a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
}

.footer {
  height: 72px;
  background: #1f2937;
  color: white;
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
